.primary-button {
  width: 100%;
  border-radius: 5px;
  border: solid 2px $accent;
  background-color: $accent;
  color: $white-main;

  &:hover {
    background-color: $background-grey;
    color: $accent;
    transition: 0.3s;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
