.primary-button {
  height: 70px;
  width: 100%;
  border-radius: 16px;
  border: solid 2px $navy-blue;
  background-color: $navy-blue;
  font-size: 1.5rem;
  color: $white-main;

  &:hover {
    background-color: $white-main;
    color: $navy-blue;
    transition: 0.3s;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
