.primary-button {
  width: 100%;
  border-radius: 16px;
  border: solid 0px;
  background-color: #f5f3f2;
  color: #474747;

  &:hover {
    background-color: #f5f3f2;
    color: black;
    transition: 0.3s;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}
