.info__para {
  border: 1px solid $light-grey;
  border-radius: 7px;
  margin: 0 auto;
}

//Desktop
@media only screen and (min-width: 1200px) {
  .info__para {
    width: 50%;
    margin: 20px auto;
    &:hover {
      transition: 0.3s;
      -webkit-box-shadow: 4px 4px 10px 0px rgb(211, 185, 185);
      -moz-box-shadow: 4px 4px 10px 0px rgb(211, 185, 185);
      box-shadow: 4px 4px 10px 0px rgb(211, 185, 185);
    }
  }
}

.info__header {
  font-family: "Open Sans";
  font-weight: 600;
  padding: 15px 30px;
  margin: 0;
  background-color: $light-grey;
  border-radius: 3px;
}

.info__title {
  margin: 50px auto;
  margin-top: 100px;
  width: 60%;
  text-align: center;
}

.info__body {
  padding: 10px 30px 15px 30px;
}
