.info__para {
  border: 1px solid $medium-grey;
  border-radius: 8px;
  margin: 30px auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

//Desktop
@media only screen and (min-width: 1200px) {
  .info__para {
    width: 50%;
    &:hover {
      transition: 0.3s;
      -webkit-box-shadow: 4px 4px 10px 0px rgb(211, 185, 185);
      -moz-box-shadow: 4px 4px 10px 0px rgb(211, 185, 185);
      box-shadow: 4px 4px 10px 0px rgb(211, 185, 185);
    }
  }
}

p {
  width: 100%;
  padding: 10px 0px;
}

.info__header {
  font-family: "DM Sans", sans-serif;
  padding: 30px 30px 20px 30px;
  margin: 0;
  color: $header-magenta;
  border-radius: 3px;
}

.info__title {
  margin: 50px auto;
  width: 60%;
  text-align: center;
  margin-top: 60px;
}

.info__body {
  padding: 0px 30px 30px 30px;
}

.info__note {
  font-style: italic;
}
