.legal__title {
  margin: 30px auto;
  margin-top: 100px;
  width: 80%;
  text-align: center;
}

.legal__body {
  margin: 0 auto;
  width: 50%;
  height: 100%;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .legal__body {
    width: 90%;
  }
}
