.symptoms-root {
  padding: 5% 10%;
  text-align: center;
}

.symptoms-header {
  padding: 20px;
}

.symptoms-description {
  padding: 1rem;
}

.symptoms-submit {
  display: flex;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
}

