@media screen and (max-width: 700px) {
  .about-us {
    padding: 3% 5%;
  }
}

.emailLink {
  color: #212529;
  text-decoration: none;
}

.emailLink:hover {
  color: grey;
}

.about-us {
  padding: 3% 0%;
}

.title {
  text-align: center;
  font-family: "Open Sans";
  padding: 0% 5%;
}

.description {
  text-align: center;
  font-family: "Open Sans";
  padding: 10px 5%;
  font-size: 18px;
}

.contact {
  text-align: center;
  font-family: "Open Sans";
  padding: 0%;
  font-size: 18px;
}

.about-us-row {
  width: 70%;
  padding-left: 0px;
  padding-right: 0px;
}

.profiles {
  padding-top: 30px;
}

.col-ld-3 {
  padding-bottom: 30px;
}

.line {
  border-color: black;
  border-width: 4px;
  width: 50px;
}
div.row > div {
  margin-bottom: 5rem;
}
