.about-us__header {
  margin-top: 150px;
}

.about-us__description {
  text-align: center;
}

.about-us__body {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  margin: 40px 80px 10px 80px;
}

.about-us__title {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}
