.about-us__description {
  text-align: center;
}

.about-us__body {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  margin: 50px 80px 50px 80px;
}

.about-us__title {
  margin: 30px auto;
  text-align: center;
  width: 60%;
}
