.aboutUs__description {
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
}

.aboutUs__body {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  font-family: "Open Sans";
  margin: 50px 80px 50px 80px;
}
