.nav {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
  background-color: #eef0f1;
  .nav__content {
    max-width: 900px;
    padding: 0rem 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .nav__item {
    display: inline;
    margin-left: 2rem;
    color: #333;
  }

  .nav__item:hover {
    color: black;
    cursor: pointer;
  }

  @media screen and (max-width: 800px) {
    .nav__content {
      margin: 0;
      padding: 0;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
    .nav__item {
      display: inline;
      margin-left: 5px;
      margin-right: 5px;
      color: #333;
      text-align: center;
      vertical-align: middle;
    }
    .nav__optional {
      display: none;
    }
  }
}

.header__logo {
  width: 120px;
}
