// TODO: clean css
// navbar has fixed font sizes, not vh ...

// FONTS
.nav__title {
  font-size: 24px;
  font-weight: 600;
}

.nav__text {
  font-size: 16px;
  font-weight: normal;
}

// ELEMENTS
.nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 75px;
  top: 0;
  z-index: 2;
  background-color: $green-background;

  & a {
    background-color: $green-background;
    color: $black-main;
    text-decoration: none;

    & :hover {
      cursor: pointer;
    }
  }
}

.nav__container {
  display: inline;
  width: 100%;
  padding: 20px 200px 20px 80px;
}

.nav__logo {
  width: 150px;
  height: 32px;
  overflow: hidden;
  position: relative;
  transition: all 1s ease-in-out;
  background-color: $green-background;

  & hr {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }
}

.nav__logo-fixed {
  background-color: $green-background;
  position: absolute;
  z-index: 2;
}

.nav__logo-animation {
  position: absolute;
  right: 0;
  width: max-content;
}

.nav__link {
  padding-right: 32px;
}

.nav__container:hover {
  .nav__logo {
    width: 100%;
  }
}

.nav__lang {
  position: absolute;
  right: 40px;
  top: 25px;
}

// MEDIA QUERIES
@media screen and (max-width: 1300px) {
  .nav__link {
    padding-right: 16px;
  }

  .nav__container {
    padding: 20px 150px 20px 60px;
  }

  .nav__lang {
    right: 20px;
  }
}

@media screen and (max-width: 800px) {
  .nav__link {
    padding-right: 8px;
  }

  .nav__container {
    padding: 20px 100px 20px 40px;
  }

  .nav__lang {
    right: 10px;
  }

  .nav__logo {
    width: 100%;
    height: 30px;
  }

  .nav__title {
    font-size: 21px;
  }

  .nav__text {
    font-size: 14px;
  }
}
