.nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: 2;
  background-color: $white-paper;
  height: 70px;
  display: flex;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  li:last-child {
    margin-left: auto;
  }
}

.nav__item {
  font-size: 16px;
  display: inline;
  margin-left: 2rem;
  color: $dark-grey;
  &:hover {
    color: $black-main;
    cursor: pointer;
  }
}

.nav__a {
  text-decoration: none;
  color: $dark-grey;
  &:hover {
    color: $black-main;
    cursor: pointer;
  }
}

.nav__info {
  position: absolute;
  right: 2%;
  display: flex;
}

.navbar__logo {
  width: 120px;
}

.navbar__lang {
  margin-left: 20px;
  color: $navy-blue;
  text-decoration: none;
  font-size: 16px;
}

.navbar__covid {
  color: $navy-blue;
  text-decoration: none;
  font-size: 16px;
}

@media screen and (max-width: 860px) {
  .nav__item {
    text-align: center;
    vertical-align: middle;
    display: inline;
    width: 120px;
  }
  .nav__info {
    text-align: center;
    display: inline;
    width: 100px;
  }
  .nav__optional {
    display: none;
  }
  .navbar__covid {
    color: $navy-blue;
    text-decoration: none;
    font-size: 16px;
    line-height: normal;
  }
}

@media screen and (max-width: 571px) {
  .nav__content {
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .nav__item {
    margin-left: 5px;
    margin-right: 5px;
    color: $dark-grey;
    font-size: 10px;
    width: 85px;
  }
  .navbar__logo {
    width: 60px;
  }
  .navbar__logo-container {
    width: 70px;
  }
  .navbar__covid {
    font-size: 10px;
  }
}

@media screen and (max-width: 350px) {
  .nav__item {
    margin-left: 0px;
    margin-right: 0px;
  }
  .nav__info {
    width: 80px;
  }
}
