// old colours, may remove later...
$black-main: #000000;
$white-main: #ffffff;
$white-paper: #f8f9fa;
$navy-blue: #121847;
$error-red: #ff0a47;
$light-grey: #eef0f1;
$medium-grey: #979797;
$dark-grey: #333333;
$header-magenta: #00267a;
$background-green: #ebf6ee;
$background-grey: #f5f3f2;

// new colours
$black-main: #000000;
$white-main: #ffffff;
$green-background: #ebf6ee;
$grey-background: #f5f3f2;
$accent: #4285f4;

// text
.title {
  font-family: "DM Sans", sans-serif;
  font-size: 2.25vw;
  font-weight: 600;
  color: $black-main;
}

.body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.25vw;
  letter-spacing: 0.75px;
  color: $black-main;
}

.error {
  font-family: "DM Sans", sans-serif;
  font-size: 0.9vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  color: $error-red;
}

// components
p {
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
}

#root {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  top: 0;
}

.icon {
  width: 100px;
  height: 100px;
}

.email-link {
  color: $black-main;
  text-decoration: none;
  &:hover {
    color: $medium-grey;
  }
}

.line {
  border-color: $black-main;
  border-width: 4px;
  width: 50px;
}

.pdf {
  width: 100%;
  height: 85%;
  position: relative;
  margin: 0 auto;
}

// media queries
@media only screen and (max-width: 1200px) {
  .body {
    font-size: 1.5vw;
  }

  .title {
    font-size: 2.5vw;
  }

  .error {
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 1000px) {
  .body {
    font-size: 2vw;
  }

  .title {
    font-size: 3.25vw;
  }

  .error {
    font-size: 1.65vw;
  }
}

@media only screen and (max-width: 800px) {
  .body {
    font-size: 2.5vw;
  }

  .title {
    font-size: 4vw;
  }

  .error {
    font-size: 2.1vw;
  }
}

@media only screen and (max-width: 600px) {
  .body {
    font-size: 3vw;
  }

  .title {
    font-size: 4.75vw;
  }

  .error {
    font-size: 2.55vw;
  }
}

@media only screen and (max-width: 400px) {
  .body {
    font-size: 3.5vw;
  }

  .title {
    font-size: 5.5vw;
  }

  .error {
    font-size: 3vw;
  }
}
