.supporters__header {
  width: 60%;
  text-align: center;
  margin: 40px auto;
  margin-top: 150px;
  text-align: center;
}

.supporters__icon {
  display: block;
  width: 100px;
  height: 150px;
  margin: 0 auto;
}

.supporters__card {
  text-align: center;
  width: 100%;
  margin: 40px auto;
}

.supporters__link {
  text-align: center;
  width: 100%;
  margin: 40px auto;
  text-decoration: none;
  &:hover {
    color: $medium-grey;
  }
}

@media only screen and (min-width: 1200px) {
  .supporters__card {
    text-align: center;
    width: 30%;
    margin: 40px auto;
  }
}
