.supporters__title {
  width: 60%;
  text-align: center;
  margin: 40px auto;
}

.supporters__description {
  margin: 15px auto;
  width: 80%;
}

.supporters__contact {
  text-align: center;
  margin: 20px auto;
  width: 60%;
}

.supporters__card {
  text-align: center;
  width: 100%;
  margin: 40px auto;
}

.supporters__link {
  text-align: center;
  width: 100%;
  margin: 40px auto;
  text-decoration: none;
  &:hover {
    color: $medium-grey;
  }
}

@media only screen and (min-width: 1200px) {
  .supporters__description {
    margin: 15px auto;
    width: 60%;
  }

  .supporters__card {
    text-align: center;
    width: 30%;
    margin: 40px auto;
  }
}
