.home {
  height: 100%;
  min-height: 600px;
  width: 100%;
  min-width: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/background.png");
  // PATH NEEDS TO BE RELATIVE TO import.scss (weird, but easiest workaround for now)
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.home-so {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../assets/background-so.png");
  // PATH NEEDS TO BE RELATIVE TO import.scss (weird, but easiest workaround for now)
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.home__content {
  height: auto;
  padding: 0% 20%;
}

.home__logo {
  width: 60%;
  filter: invert(100%);
}

.home__description {
  margin-bottom: 32px;
  color: white;
}

.home__button {
  width: 51%;
  height: 9%;
  min-width: 200px;
  min-height: 30px;
  margin: 10px 0px;
}

@media only screen and (max-width: 1000px) {
  .home__content {
    padding: 0% 10%;
  }
}

@media only screen and (max-width: 400px) {
  .home__logo {
    width: 100%;
  }
}
