.home {
  margin-top: 75px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../assets/homepage.svg);
}

.home__splash {
  visibility: hidden;
}

.home__content {
  position: absolute;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 45%;
}

.home__description {
  padding-bottom: 20px;
}

.home__footer {
  display: flex;
  align-items: center;
}

.home__button {
  height: 10vw;
  width: 15vw;
  min-width: 150px;
  max-height: 60px;
  margin-right: 40px;
}

@media only screen and (max-width: 600px) {
  .home {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url(../assets/homepageMobile.svg);
  }

  .home__content {
    padding-top: 10px;
    padding-right: 0px;
  }
}
