.returning-user {
  padding: 32px;
}

.returning-user__title {
  padding-bottom: 32px;
}

.returning-user__submit {
  padding-top: 30px;
}

.returning-user__submit-button {
  height: 50px;
  width: 100px;
}
