.returning-user {
  padding: 32px;
}

.returning-user__title {
  padding-top: 32px;
  padding-bottom: 32px;
}

.returning-user__input {
  width: 250px;
}

.returning-user__submit {
  padding-top: 30px;
}

.returning-user__submit-button {
  height: 50px;
  width: 200px;
}
