.footer__container {
  text-align: center;
  background-color: $background-green;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.footer__pair {
  width: fit-content;
  display: inline-block;
}

.footer__section {
  margin: 40px;
  vertical-align: top;
  display: inline-block;
  text-align: left;
}

.footer__link {
  text-decoration: none;
  color: $medium-grey;
  transition-duration: 0.3s;
  display: block;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__icon-container {
  display: block;
}

.footer__icon {
  margin-right: 2px;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .footer__section {
    width: 220px;
  }
}

@media screen and (max-width: 600px) {
  .footer__pair {
    display: block;
  }
  .footer__section {
    display: block;
    margin: 10px;
  }
}
