input[type=text] {
  width: 100%;
  max-width: 150px;
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #979797;
  border-radius: 4px;
}

.text-input__container {
  text-align: center;
  padding: 4px;
}
