.submit-modal__container {
  background-color: $white-main;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 30%;
  padding: 64px;
  border-radius: 8px;
  border: 1px solid $medium-grey;
}

.submit-modal__content {
  padding: 30px;
}

.submit-modal__gift-icon {
  height: 100px;
  width: 100px;
}

.submit-modal__close-icon {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
}

@media only screen and (max-width: 1000px) {
  .heatmap__header {
    padding: 10% 10%;
  }
}

@media screen and (max-width: 600px) {
  .submit-modal__container {
    width: 60%;
  }
}

@media screen and (max-width: 400px) {
  .submit-modal__container {
    width: 60%;
    padding: 32px;
  }
}
