.symptoms-form {
  width: 100%;
}

.symptoms-form__question {
  display: grid;
  align-items: center;
  grid-template-columns: 70% 5% 25%;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 25px;
  margin: 15px 0px;
  text-align: left;
}

.symptoms-form__question-body {
  grid-column: 1;
  overflow-wrap: break-word;
  hyphens: auto;
}

.symptoms-form__question-response {
  grid-column: 3;
  text-align: center;
}

.symptoms-form__acknowledgement {
  align-items: center;
  margin: 14px 5% 26px;
}

@media only screen and (max-width: 600px) {
  .symptoms-form__question {
    grid-template-columns: 55% 5% 40%;
    padding: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .symptoms-form__question {
    grid-template-columns: 50% 5% 45%;
  }
}
