.symptoms {
  padding: 5% 20%;
  text-align: center;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.5);
  padding-bottom: 0%;
}

.symptoms__submitted {
  box-shadow: none;
}

.symptoms__header {
  padding: 10px;
}

.symptoms__title {
  display: flex;
  justify-content: left;
  align-items: left;
}

.symptoms__description {
  text-align: left;
  padding: 1rem 0px;
}

.symptoms__submit {
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
}

.symptoms__submit-button {
  height: 70px;
}

@media only screen and (max-width: 1000px) {
  .symptoms {
    padding: 7% 10%;
  }
}
