.symptoms__root {
  padding: 5% 20%;
  text-align: center;
}

.symptoms__header {
  padding: 20px;
}

.symptoms__description {
  padding: 1rem;
}

.symptoms__submit {
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
}

.symptoms__submit-button {
  height: 70px;
}
