.heatmap {
  text-align: center;
}

.heatmap__header {
  padding: 5% 20%;
}

.heatmap__description {
  text-align: center;
  padding: 1rem 0px;
}

.heatmap__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heatmap__map-icon{
  height: 3rem;
  width: 3rem;
  margin-left: 14px;
  transform: rotate(180deg);
}

.heatmap__container {
  overflow: hidden;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.heatmap__analytics {
  padding: 1rem;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
}

.heatmap__analytics-button {
  height: 70px;
}

@media screen and (max-width: 800px) {
  .iframe-container {
    margin-left: 0%;
    margin-right: 0%;
  }
}
