.heatmap {
  text-align: center;
}

.heatmap__header {
  padding: 5% 20% 0% 20%;
}

.heatmap__description {
  text-align: center;
  padding: 1rem 0px;
}

.heatmap__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heatmap__map-icon {
  height: 3rem;
  width: 3rem;
  margin-left: 14px;
}

.heatmap__container {
  overflow: hidden;
  padding: 1% 5% 0% 5%;
  position: center;
  margin-top: 1%;
  width: 80%;
  margin: auto;
  display: grid;
}

.heatmap__analytics {
  padding: 1rem;
  justify-content: center;
  margin-left: 30%;
  margin-right: 30%;
}
.btn_group{
  width: 100%;
  button{
    width: 20.5%;
    float: left;
    font-size: medium;
    margin-right: 6%;
    min-height: 40px;
    border-radius: 0px 0px 8px 8px ;
  }
  button:last-child{
    margin-right: 0%;
  }
}

.active {
  background-color: $white-main;
  color: $navy-blue;
  cursor: pointer;
}

.heatmap__analytics-button {
  height: 70px;
}

@media only screen and (max-width: 1000px) {
  .heatmap__header {
    padding: 10% 10% 0% 10%;
  }
}

@media screen and (max-width: 800px) {
  .heatmap__container {
    // margin: 0;
    grid-template-columns: 100%;
  }
  .btn_group{
    button{
      margin-right: 0%;
      width: 25%;
      min-height: 80px;
    }
  }
}
